:root {
  width: 100%;

}

body{
  justify-content: center;
  width: 100%;
}

.app-container {
  margin: 0 auto;
  padding: 20px;
}

/* Styling for the header */
.app-header {
  text-align: center;
  margin-bottom: 40px;
  justify-content: center;
}

/* Styling for the list of products */
.product-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
}

/* Styling for each product card */
.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the product image */
.product-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Styling for the product name */
.product-card h2 {
  font-size: 1.5rem;
  margin: 0 0 10px;
  text-align: center;
}

/* Styling for the product price */
.product-card p {
  font-size: 1.2rem;
  color: #333;
  margin: 0 0 20px;
  text-align: center;
}

/* Styling for the color selection container */
.color-selection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Styling for the color circles */
.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: border 0.2s;
}

.color-circle.selected {
  border: 2px solid black;
}

/* Styling for the select trigger */
.select-trigger {
  margin-left: auto;
}

.button{
  display: flex;
  flex-direction: row;
}